:root {
    --primary-color: #164E70;
    --primary-color-contrast: #FFF;
    --background-color: #FFFFFD;
    --background-color-contrast: #000;
    --button-color: #64301D;
    --button-color-contrast: #E6EDEF;
}

@media only screen and (min-width: 38rem) {
    
    header {
        border: none;
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: 75px minmax(150px, 200px) auto;
    }
    
    #company-desc {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }

    #hamburger {
        display: none;
    }

    .navigation, .navigation.open {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation ul li a {
        font-size: 1rem;
        color: var(--primary-color-contrast);
    }

    .navigation a:hover {
        transition: background-color 0.3s ease;
        background-color: rgba(255, 255, 255, 0.2);
    }

    nav.navigation {
        grid-column: 3 / 4;
    }

    main {
        padding: 0 5rem;
    }

    section {
        width: clamp(300px, 100%, 350px);
        max-width: 100%;
    }

    .list section {
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
    }

    footer {
        margin-top: 2rem;
        background-color: var(--footer-background);
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 5rem;
    }
    
    footer div {
        flex: 1;
    }
}