:root {
    --primary-color: #164E70;
    --primary-color-contrast: #FFF;
    --background-color: #FFFFFD;
    --background-color-contrast: #000;
    --button-color: #64301D;
    --button-color-contrast: #E6EDEF;
    --footer-background: #F0F0F0;
}

