@media screen and (min-width: 641px) and (max-width: 1024px) {
    #places-to-visit {
        display: grid;
        grid-template-areas:
            "card1 card2" 
            "card3 card4" 
            "card5 card6"
            "card7 card8."; 
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; /* Sets the gap between grid items to 1rem */
    }

  .cards:nth-child(1) { grid-area: card1; }
  .cards:nth-child(2) { grid-area: card2; }
  .cards:nth-child(3) { grid-area: card3; }
  .cards:nth-child(4) { grid-area: card4; }
  .cards:nth-child(5) { grid-area: card5; }
  .cards:nth-child(6) { grid-area: card6; }
  .cards:nth-child(7) { grid-area: card7; }
  .cards:nth-child(8) { grid-area: card8; }
  
}

#discover-container {
    margin: 0;
    padding: 0;
    text-align: center;
}