:root {
    --primary-color: #164E70;
    --primary-color-contrast: #FFF;
    --background-color: #FFFFFD;
    --background-color-contrast: #000;
    --button-color: #64301D;
    --button-color-contrast: #E6EDEF;
}

body, html {
    font-family: "Kodchasan", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    border-bottom: 1px solid var(--primary-color-contrast);
    padding: .5rem;
    display: grid;
    grid-template-columns: 75px auto 44px;
    align-items: center;
}

nav {
    background-color: var(--primary-color);
}

nav.navigation {
    grid-column: 1 / -1;
}

#hamburger {
    font-size: 2rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    width: 100%;
    text-align: right;
    cursor: pointer;
    padding: .25rem 2vw;
}

#hamburger::before {
    content: "\2630";
}

#hamburger.open::before {
    content: "X";
}

.menu-links {
    margin: 0;
    padding: 0;
}

ul.menu-links li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--primary-color-contrast);
    text-decoration: none;
}

/* active menu item */
li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.2); /* black 20% */
    font-weight: 700;
}

.navigation {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.navigation.open {
    grid-template-rows: 1fr;
}

.navigation ul {
    list-style-type: none;
    overflow: hidden;
}

main {
    padding: 0 .5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color-contrast);
    color: var(--background-color-contrast);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    overflow: hidden;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: .2s ease-in;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h2 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: #bed;
}

p {
    margin: .1rem;
    font-size: 14px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.filter button {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    padding: .5rem;
}

.filter button:hover {
    background-color: var(--primary-color-contrast);
    color: var(--background-color-contrast);
    border: 1px solid var(--primary-color);
    padding: .5rem;
    cursor: pointer;
}