@media only screen and (min-width: 1025px) {
    
    /* Header, Navigation, Hamburger */
    #hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav.navigation {
        grid-column: 3 / 4;
    }
    /* End of code for header, menu, navigation */
}